page-screensaver {
.background{
  background: url("../assets/imgs/001.png") no-repeat center center;
  background-size: cover;
  background-position: 100% 100%;
  background-attachment: fixed;
}
  .take_flight {
    background: transparent;
    height: 88px;
    margin-top: 6px;
    width: 328px;
    margin-left: -2%;
  }
  .enter_draw {
    background: rgba(81,120,145,0.5);
    margin-left: 36%;
    width: 230px;
  }
  .refral{
    margin-top: 37%;
    margin-left: 30%;
  }
  .button_flight{
    height: 88px;
    width: 306px;
  }
  .shot {
    margin-left: 30%;
    margin-top: 101%;
    /* width: 142px; */
    /* height: 79%; */
  }
}
