page-test {

  .background{
    background: url("../assets/imgs/Screensaver.png") no-repeat center center;
    background-size: cover;
    background-position: 100% 100%;
    background-attachment: fixed;
  }
  .frame {
    margin-left: 121px;
    margin-top: 9px;
    height: 69%;
    position: absolute;
  }
  .countdownback{
    height: 29%;
    position: absolute;
    margin-top: 26%;
    margin-left: 29%;
  }
  .timer{
    font-size: 90px;
    color: #8F8054;
    margin-top: 37%;
    margin-left: -20px;
  }
  .welcome {

      margin-top: 40%;
      margin-left: 29%;
      position: fixed;
      font-size: 42px;
      color: #18165A;

  }
}
